.container{
  justify-content: center;

}

body{
  font-family:'ABeeZee';
}
/*POP*/
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
#timer{
  text-align: center;
  animation: fadeout 1s forwards;
  animation-delay: 2s;
  position: absolute;
  margin:auto;
  margin-top: 100px;
  margin-left:650px;
  font-size: 120px;
}

.breathe{
  align-content: center;
  text-align: center;
  animation: fadein 5s ease-out backwards;
  animation-delay: 3s;
  position: relative;
  margin: auto;
  margin-top: 150px;
}
.breathe-circle {
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  /*border: 2px solid;*/
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  animation: scale 3.5s linear alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: 8;
  animation-delay: 3s;
}

@keyframes fadein{
  from{
    opacity: 0;
  }
  to{
    opacity:1;
  }
}

@keyframes scale {
  from {
    transform: scale(.7);
    background-color: #93bcff;
  }
  to {
    transform: scale(1.5);
    background-color:#ffa393;
  }
}

.aftermsg{
  font-size: 32px;
  text-align: center;
  animation: fadein 2s linear backwards;
  animation-delay: 20s;
  position: relative;
  margin-top: 40px;
}

@keyframes fadeout{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

.breathe-in{
  position: absolute;
  margin: auto;
  margin-left: 63px;
  animation: fadein 3.5s ease-in-out alternate;
  animation-delay: 3s;
  animation-iteration-count: 8;
  animation-fill-mode: forwards;
  margin-top: 50px;
}
.breathe-out{
  position: relative;
  margin: auto;
  animation: fadein 3.5s ease-in-out alternate backwards;
  animation-delay: 6s;
  animation-iteration-count: 7;
  margin-top: 70px;
}

.btn{
	text-decoration:none;
	color:#333333;
	font-size: .5em;
	font-weight:bold;
	padding:0 15px;
	line-height:50px;
	height: auto;
	display:inline-block;
	text-align:center;
	background-color:#DDDDDD;
  margin-bottom: 10px;
  width: 125px;
}
.btn:hover{
	background-color:#240738;
  color: white;
}
.btn.pill{
  border-radius: 16px;
}
