html {
  box-sizing: border-box;
}
body {
  background: black;
  overflow:hidden;
  color:white;
  font-family:'ABeeZee';
}
div{
  color:white;
}
p{
  color:white;
}
h1{
  margin-bottom: 50px;
}
input[type=text] {
    border: none;
    border-bottom: 2px solid white;
    color:orange;
    background-color : transparent;
    font-family: inherit;
}
input[type=text]:focus{
  outline: none;
}
.btn{
  margin: auto;
  margin-left: 600px;
  margin-bottom: 10px;
  margin-top: 25px;
	text-decoration:none;
	color:gray;
	font-size: 1 em;
	font-weight: bold;
	padding:0 15px;
	line-height:50px;
	height: auto;
	display: inline-block;
	text-align: center;
	background-color:#black;
  width: 125px;
}
.btn:hover{
	border-color: white;
  border-width: 1px;
  color: white;
}
.btn.pill{
  border-color: white;
  border-width: 1px;
  border-radius: 16px;
}
.home{
  width: 160px;
  position: absolute;
  margin-left: 0px;
  margin-top: -70px;
}
.firefly {
  width:4px;
  height:4px;
  position:absolute;
  background-color: #ecc45e;
  box-shadow:0px 0px 17px 2px wheat;
  border-radius: 50%;
}

.fireflies {
/*   width: 30%; */
  margin: 0 auto;
}
.container {
/*   width: 30%; */
  margin: 0 auto;
  height: 90vh;
  position: relative;
}

.questions{
  text-align: center;
  margin: auto;
  margin-top: 100px;
  box-sizing: border-box;
  position: relative;
}

input{
  margin-top:15px;
  height:20px;
  width:250px;
}
#display{
  margin:auto;
  text-align: left;
  margin: 0 400px 0 400px;
  line-height: 3;
}
#text-wrapper{
  color:black;
}

#submit{
  margin-left: -10px;
}
